* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  --dark-gray: #1d1d1d;
  --light-blue: #b9faf7;
  --light-yellow: #f8e4ab;
  --light-gray: #b5b5b5;
  --cta-blue: #6497f5;
  --cta-light: #a0bef5;
  --teal: #008080;
}

p {
  letter-spacing: 1.2px;
}

.header-logo {
  width: 250px;
  height: 50px;
}

.jumbo-hero h1 {
  font-size: 4rem;
}

.jumbo-hero p {
  font-size: 1.4rem;
}

/* Jumbo Hero */

.jumbo-hero {
  height: 100vh;
  position: relative;
  background: transparent;
  overflow: hidden;
  border-radius: 0;
}

.hero-text {
  margin-top: 6rem;
}

.jumbo-hero .img-hero {
  width: 250px;
  position: absolute;
  top: 20%;
  right: 10%;
  filter: grayscale(100%);
  z-index: 5;
  animation: scale 8s;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.navigation {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Jumbo Inner Pages */

.jumbo-inner {
  height: 75vh;
}

/* Services */

.service-box {
  box-shadow: none;
}

.service-img {
  width: 150px;
}

/* Projects */

.project_box {
  display: none;
}

.active-project {
  display: flex;
  animation: fadeIn 1.3s;
  -webkit-animation: fadeIn 1.3s;
  -moz-animation: fadeIn 1.3s;
  -o-animation: fadeIn 1.3s;
  -ms-animation: fadeIn 1.3s;
  /* transform: translateX(0); */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-img {
  position: relative;
  overflow: hidden;
}

.project-img img {
  width: 100%;
  height: 100%;

  transition: all 0.3s ease-in-out;
}

.project_box:hover img {
  transform: scale(1.2);
}

.tech-icon {
  position: absolute;
  bottom: 172px;
  right: 0;
}

.tech-icon img {
  width: 50px;
}

.project-btn-mouse {
  transform: rotate(-30deg);
}

/* Skills */

.tech-title {
  cursor: pointer;
}

.tech-skills {
  height: auto;
  min-height: 50vh;
}

.skill-box {
  max-width: 80px;
  max-height: 60px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-img {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  transition: all 0.3s ease-in-out;
}

.skill-box:hover img {
  transform: translateY(-10px);
  filter: drop-shadow(0 0 0.25rem #72b1ec);
}

/* Article box */

.box-border-left {
  border: none;
  border-left: 5px solid var(--dark-gray);
}
.box-border-right {
  border: none;
  border-right: 5px solid;
}

.article-img {
  width: 250px;
  height: 250px;
}

/* Contact */

#contact {
  height: 100vh;
}

.contact-icons a i {
  font-size: 4rem;
}

.contact-icons a i:hover {
  transform: scale(1.1);
}

/* Footer */

.connect-icons a i {
  font-size: 2.5rem;
}

.connect-icons a i:hover {
  transform: scale(1.1);
}

/* Post page */

article .tags ul {
  list-style: none;
  text-decoration: none;
}
article .tags ul li a {
  text-decoration: none;
}

/* Single post */

.full-post-img {
  width: 100%;
  height: 500px;
}

.post-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Project page */

.arrow-down {
  text-decoration: none;
}
.arrow-down:hover {
  text-decoration: none;
}
.arrow-down i {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 2s infinite ease-in-out;
  font-size: 5rem;
}

@keyframes bounce {
  0%,
  20% {
    height: 0px;
  }
  40% {
    height: 150px;
  }
  60% {
    height: 70px;
  }
  80% {
    height: 120px;
  }
  100% {
    height: 100px;
  }
}
